:root {
  --main-color: 255, 237, 216;
  --dark-color: 41, 37, 36;
}

body {
  background-color: rgba(var(--main-color));
  margin: 0;
  font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: rgb(var(--dark-color));
}

.sticky {
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(24px);
  background-color: rgba(var(--main-color), 0.65);
  z-index: 1;
}

.top-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (max-width: 800px) {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  @media (max-width: 500px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  h1 {
    color: #352712;
    margin-left: 0;
    font-size: 2rem;
    padding-left: 9rem;
    @media (max-width: 800px) {
      font-size: 1.6rem;
      padding-left: 5rem;
    }
    @media (max-width: 500px) {
      font-size: 1.4rem;
      padding-left: 2rem;
    }

    display: inline-block;
  }

  h2 {
    display: inline-block;    
    margin-left: 1rem;
    opacity: 0.6;
    font-weight: 600;
    font-size: 1.5rem;
    @media (max-width: 800px) {
      font-size: 1.25rem
    }
    @media (max-width: 500px) {
      font-size: 1.1rem
    }
  }
}

.app-section {
  padding: 2.5rem 0;
  @media (max-width: 800px) {
    margin-top: 4rem;
  }
  @media (max-width: 500px) {
    margin-top: 3rem;
  }
}

.app-section:nth-child(2n) {
  background: rgb(255, 242, 233);
}


main {
  font-size: 1.4rem;
  @media (max-width: 800px) {
    font-size: 1.25rem;
  }
  @media (max-width: 500px) {
    font-size: 1.1rem;
  }
  padding-bottom: 10rem;

  h3 {
    margin-bottom: 0.4rem;
    font-size: 2.4rem;
    @media (max-width: 800px) {
      font-size: 1.6rem;
    }
    @media (max-width: 500px) {
      font-size: 1.2rem;
    }
  }

  .date {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    display: none;
  }
}

main .desc, main .app-title {
  padding-left: 9rem;
  padding-right: 9rem;
  @media (max-width: 800px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media (max-width: 500px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

main .app-title {
  .company {
    margin-bottom: 0.5rem;
    font-weight: bold;
    opacity: 0.6;
  }

  .date {
    opacity: 0.6;
  }
} 

main .desc {
  max-width: 890px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0.4rem 0;
      line-height: 1.8rem;
    }
  }

  .tech-stack {
    opacity: 0.6;
  }
}

main .links {
  margin: 1rem 0;

  a {
    display: inline-block;
    padding: 1rem 1.3rem;
    border-radius: 16px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
    text-decoration: none;

    &.app-store-link {
      background: rgba(var(--dark-color));
      color: rgba(var(--main-color));
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    &.review-link {
      background: rgba(var(--dark-color), 0.08);
      color: rgba(var(--dark-color), 0.8);
    }

    svg {
      fill: currentColor;
      margin-right: 0.2rem;
    }

    &:hover .text {
        text-decoration: underline;
    }

    @media (max-width: 800px) {
      zoom: 0.85;
    }
    @media (max-width: 500px) {
      zoom: 0.7;
    }
  }
}

main .gallery {
  overflow-x: auto;

  &.gallery-1 ul li img {
    max-height: 650px;
    border-radius: 28px;
    @media (max-width: 800px) {
      max-height: 542px;
    }
    @media (max-width: 500px) {
      max-height: 434px;
    }
  }

  &.gallery-2 ul li {
    margin-right: 2rem;
    img {
      max-height: 556px;
      @media (max-width: 800px) {
        max-height: 500px;
      }
      @media (max-width: 500px) {
        max-height: 400px;
      }      
    }
  }

  &.gallery-3 ul li {
    margin-right: 2rem;
    img {
      max-height: 450px;
      border-radius: 6px;
      @media (max-width: 800px) {
        max-height: 410px;
      }
      @media (max-width: 500px) {
        max-height: 360px;
      }      
    }
  }

  ul {
    display: flex;
    padding: 1rem 0;
    margin: 0;

    li {
      list-style: none;
      margin-right: 1rem;

      &:first-child {
        margin-left: 9rem;
        @media (max-width: 800px) {
          margin-left: 5rem;
        }
        @media (max-width: 500px) { 
          margin-left: 2rem;
        }
      }
    }
  }
}

